<div class="container" id="station">
	<%= render 'user/stations/partials/station_info', :visibility => "Public" %>
	<div class="row">
		<div class="span8">
			<div class="tabs public">
				<ul>
					<li id="tab-song-form"><%= link_to "Find Song", "#search-song-wrapper", "data-toggle" => "tab" %></li>
					<li id="tab-chat-window" class="open"><%= link_to "Chat", "#chat-window", "data-toggle" => "tab" %></li>
				</ul>
			</div>
			<div id="station-frame">
				<%= render 'user/stations/partials/song_form' %>
				<%= render 'user/stations/partials/chat_window' %>
			</div>
		</div>
	</div>
</div>
<%= render 'user/stations/partials/station_js', :station => @station.permalink %>