<div class="container" id="station">
	<div class="row">
		<div class="span8">
			<div class="right text">
				<span id="online-users">0</span> <span class="icon-user"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="tabs">
				<ul>
					<li id="tab-song-form"><%= link_to "Find Song", "#search-song-form", "data-toggle" => "tab" %></li>
					<li id="tab-chat-window" class="open"><%= link_to "Chat", "#chat-window", "data-toggle" => "tab" %></li>
				</ul>
			</div>
			<div id="station-frame">
				<%= render 'user/stations/partials/song_form' %>
				<%= render 'user/stations/partials/chat_window' %>
			</div>
		</div>
	</div>
</div>
<div id="controls">
	<div class="wrapper">
		<ul class="buttons-panel">
			<li>
				<a href="#" class="info-button-toggle"><i class="icon-info-sign"></i></a>
			</li>
			<li>
				<a href="#" class="play-button pressed"><i class="icon-play"></i></a>
			</li>
			<li id="volume-slider-wrapper">
				<span class="icon-volume-up" id="volume-icon"></span>
				<div id="volume-slider"></div>
			</li>
		</ul>
		<div id="song-info">
			<div id="song-artwork"></div>
			<div id="song-title"></div>
			<div id="song-artist"></div>
			<div id="song-album"></div>
		</div>
	</div>
</div>
<% content_for :head do %>
	<script src='<%= "http://#{Settings['node']['host']}:#{Settings['node']['port']}/socket.io/socket.io.js" %>'></script>
	<script>
		var station = "<%= @station %>",
		current_user = "<%= signed_in? ? current_user.name : '' %>";
	</script>
	<%= javascript_include_tag 'station' %> 
<% end %>