<%= render 'user/stations/partials/song_form' %>
<div class="container">
	<div class="row-fluid">
			<div id="song-details" class="span4">
				<div class="window">
					<div id="song-artwork"></div>
					<div id="song-title">Nothing Playing</div>
					<div id="song-artist">Unknown</div>
					<div id="song-album">Unknown</div>
					<% if signed_in? %>
					<div class="right">
						<%= link_to "Choose Song", "#choose-song-form", :class => "btn small", "data-toggle" => "modal" %>
					</div>
					<% end %>
				</div>
			</div>
			<div class="span8">
				<div class="window">

				</div>
			</div>
		</div>
	</div>
</div>
<% content_for :head do %>
	<script src='http://<%= "#{Settings['node']['host']}:#{Settings['node']['port']}" %>/socket.io/socket.io.js'></script>
	<script>var station_id = "<%= @station %>";</script>
	<%= javascript_include_tag 'station' %> 
<% end %>