<%= render 'user/stations/partials/song_form' %>
<%= render 'shared/modal', :id => "songs-list", :title => "Songs List" %>
<div class="container">
	<div class="row-fluid">
		<div class="span12" id="station-header">
			<div id="station-title">
				<span><%= @station.name %></span>
			</div>
			<div id="album-slider">
				<div class="album-thumb playing">
				</div>
				<% (0..2).each do |i| %>
					<div class="album-thumb"></div>
				<% end %>
				<div class="image-slider-mask"></div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="station-details">
				<div class="window">
					<strong><%= @station.name %></strong>
					<div><%= @station.description %></div>
					<div><%= link_to @station.user.name, user_user_path(@station.user) %></div>
					<% if signed_in? && can_edit_station?(@station) %>
					<div class="left">
						<%= link_to "Edit Station", user_user_edit_station_path(@station.user, @station), :class => "btn small" %>
					</div>
					<div class="right">
						<%= link_to "Add Song", "#add-song-form", :class => "btn small", "data-toggle" => "modal" %>
						<%= link_to "Choose Song", "#songs-list", :class => "btn small", "data-toggle" => "modal", "data-target" => user_user_songs_list_path(current_user, @station) %>
					</div> 
					<% end %>
				</div>
			</div>
			<div id="song-details">
				<div class="arrow"></div>
				<div class="window">
					<div id="song-title">Nothing Playing</div>
					<div id="song-artist">Unknown</div>
					<div id="song-album">Unknown</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Start JS -->
<script src="http://ferris.jit.su:80/socket.io/socket.io.js"></script>
<script>
	var json;
	var socket = io.connect('http://ferris.jit.su:80/');
</script>
