<div id="songs-list">
	<% @songs.each do |s| %>
	<div class="song">
		<%= form_for s, :url => user_song_path(s.id), :remote => true do |f| %>
			<div class="left artwork">
				<%= !s.artwork.nil? ? image_tag(s.artwork, :alt => s.title, :width => 32) : '' %>
				<div class="play"><%= link_to content_tag(:span, '', :class => 'icon-play'), user_song_path(s) %></div>
			</div>
			<div class="left song-field"><%= f.text_field :artist %></div>
			<div class="left song-field"><%= f.text_field :title %></div>
			<div class="left song-field"><%= f.text_field :album %></div>
			<div class="left submit"><%= f.submit "Edit", :class => "btn med" %></div>
		<% end %>
	</div>
	<% end %>
</div>
<div class="pagination">

</div>