<% if !@songs.empty? %>
<% every(@songs, 4).each_with_index do |a, row| %>
<div class="row">
	<% a.each_with_index do |s, i| %>
	<div class="span2" id="<%= "page_#{@c_page}_row_#{row+1}_index_#{i+1}" %>">
		<%= form_for @song, :url => user_station_songs_path(@station), :remote => true, :html => { :class => "new-song" } do |f| %>
		<div class="artwork"><%= exfm_image?(s['image']['large']) ? image_tag(s['image']['large'], :alt => s['title'], :width => 128) : '' %></div>
		<div class="field"><%= f.text_field :artist, :value => s['artist'], :placeholder => "Artist" %></div>
		<div class="field"><%= f.text_field :title, :value => s['title'], :placeholder => "Title" %></div>
		<div class="field"><%= f.text_field :album, :value => s['album'], :placeholder => "Album" %></div>
		<div class="form-actions"><%= f.submit "Play", :class => "btn" %></div>
			<%= f.hidden_field :artwork, :value => exfm_image?(s['image']['large']) ? s['image']['large'] : nil %>
			<%= f.hidden_field :path, :value => s['url'] %>
			<%= hidden_field_tag :div, "\#page_#{@c_page}_row_#{row+1}_index_#{i+1}" %>
		<% end %>
	</div>
	<% end %>
</div>
<% end %>
<div class="pagination">
	<div class="page"><%= link_to "First", search_user_station_songs_path(@station, :query => @query, :start => 1), :remote => true %></div>
	<% while @s_page <= @e_page do %>
		<div class="page <%= (@s_page == @c_page) ? 'current' : '' %>">
			<%= link_to @s_page, search_user_station_songs_path(@station, :query => @query, :start => @s_page), :remote => true %>
		</div>
		<% @s_page += 1 %>
	<% end %>
	<div class="page"><%= link_to "Last", search_user_station_songs_path(@station, :query => @query, :start => @m_page), :remote => true %></div>
</div>
<% else %>
	<%= render 'user/songs/partials/no_results' %>
<% end %>
