<div id="banner">
	<div class="container">
		<div class="left float">
			<% if !signed_in? %>
			<div class="inner" id="text">
				<p>
					Share and discover new music with <span class="emphasize">Postune</span><br/>
					Create your own stations to listen to music with your friends, and chat about your recently discovered music!
				</p>
			</div>
			<div class="inner buttons right-text">
				<%= link_to "Sign Up", user_register_path, :class => "btn green" %>
				<%= link_to "Login", user_login_path, :class => "btn" %>
			</div>
			<% else %>
			<div class="inner" id="text">
				<h2>Welcome <%= current_user.name %>!</h2>
				<p><span class="emphasize">Postune</span> is currently in public beta. If you come across any bugs or have any suggestions for the website, please contact us at <%= link_to "ferrist@postune.com", "mailto:ferrist@postune.com" %>!</p>
				<p>Thank you, and we hope you enjoy using our website!</p>
			</div>
			<% end %>
		</div> 
		<div class="right">
			<%= image_tag "tower.png" %>
		</div>
	</div>
</div>