<div class="container">
	<div class="row">
		<%= form_for @user, :url => user_user_update_password_path(@user) do |f| %>
			<div class="field">
				<%= f.label "New Password" %>
				<%= f.password_field :unencrypted_password %>
				<%= required_field @user, :unencrypted_password %>
			</div>
			<div class="field">
				<%= f.label :unencrypted_password_confirmation %>
				<%= f.password_field :unencrypted_password_confirmation %>				
			</div>
			<div class="field">
				<%= f.label "Old Password" %>
				<%= f.password_field :password, :value => "" %>				
				<%= required_field @user, :password %>
			</div>
			<div class="form-actions wrap">
				<div class="left">
					<%= f.submit "Change Password", :class => "btn" %>
				</div>
				<div class="right text">
					<%= link_to "Forgot Password?", user_reset_path %>
				</div>
			</div>
		<% end %>
	</div>
</div>