<div class="container">
	<div class="span8">
		<div class="window">
			<h2>Register</h2>
			<%= form_for @user, :url => user_users_path do |f| %>
				<%= render 'shared/errors', :object => @user %>
				<div class="field">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>
				<div class="field">
					<%= f.label :unencrypted_password %>
					<%= f.password_field :unencrypted_password %>
				</div>
				<div class="field">
					<%= f.label :unencrypted_password_confirmation %>
					<%= f.password_field :unencrypted_password_confirmation %>
				</div>
				<div class="form_actions">
					<%= f.submit "Register", :class => "btn med" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="span4">
		<div class="window">
			<h3>Already have an account?</h3>
			<%= form_for @user, :url => user_sessions_path do |f| %>
				<div class="field">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<div class="form_actions">
					<%= f.submit "Login", :class => "btn med" %>
				</div>
			<% end %>
		</div>
	</div>
</div>