<div class="container">
	<div class="row">
		<div class="span4">
			<h3>Profile</h3>
			<table class="alt">
				<tbody>
					<tr>
						<th>Username</th>
						<th><%= @user.name %></th>
					</tr>
					<% if current_user == @user %>
					<tr>
						<th>Email</th>
						<td><%= @user.email %></td>
					</tr>
					<% end %>
					<tr>
						<th>Last Signed In</th>
						<td><%= time_ago_in_words @user.last_sign_in %></td>
					</tr>
					<tr>
						<th>Signed Up</th>
						<td><%= @user.created_at.strftime(Settings['date']['nice']) %></td>
					</tr>
				</tbody>
			</table>
			<h3>Stations</h3>
			<% if @user.stations.present? %>
			<table class="alt">
				<tbody>
				<% @user.stations.each do |station| %>
					<tr>
						<td><%= link_to station.name, user_station_path(station.permalink) %></td>
						<td><%= station.position(current_user) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<% else %>
				No Stations
			<% end %>
		</div>
		<div class="span4">
			<h3>Favorite Stations</h3>
			<% if @user.favorites.present? %>
			<table class="alt">
				<tbody>
				<% @user.favorites.each do |station| %>
					<tr>
						<td><%= link_to station.name, user_station_path(station.permalink) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<% else %>
				No Favorites
			<% end %>
		</div>
	</div>
	<% if current_user == @user %>
	<div class="row">
		<div class="span8">
			<div class="right text">
				<%= link_to "Reset Password", user_reset_path, :class => "btn" %>
				<%= link_to "Change Password", user_user_edit_password_path(@user), :class => "btn" %>
				<%= link_to "Edit", edit_user_user_path(@user), :class => "btn" %>
			</div>
		</div>
	</div>
	<% end %>
</div>