<div class="tab-frame" id="info-window">
	<div id="info-wrapper">
		<div class="row">
			<div class="span4">
				<table>
					<tbody>
						<tr>
							<th>Owner</th><th></th>
						</tr>
						<tr>
							<td><%= link_to @station.user.name, user_user_path(@station.user) %></td><td></td>
						</tr>
						<tr>
							<th>Collaborators</th><th></th>
						</tr>
						<% if @station.collaborators.present? %>
						<% @station.collaborators.each do |c| %>
						<tr>
							<td><%= link_to c.user.name, user_user_path(c.user) %></td>
							<td><%= c.title %></td>
						</tr>
						<% end %>
						<% else %>
						<tr>
							<td>No Collaborators</td><td></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="span4">
				<table>
					<tbody>
						<tr>
							<th>Name</th>
						</tr>
						<tr>
							<td><%= @station.name %></td>
						</tr>
						<tr>
							<th>Created</th>
						</tr>
						<tr>
							<td><%= "#{time_ago_in_words(@station.created_at)} ago" %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="span8 wrap">
				<div class="right text">
					<%= link_to "Edit", edit_user_station_path(@station), :class => "btn" if @station.can_edit?(current_user) %>
					<%= link_to "Delete", user_station_path(@station), :class => "btn red", :method => :delete, :confirm => "Are you sure you would like to delete this station?" if @station.is_owner?(current_user) %>
				</div>
			</div>
		</div>
	</div>
</div>