<div class="tab-frame" id="search-song-wrapper">
	<% if signed_in? %>
	<div class="row" id="search-form">
		<div class="span8">
			<%= form_tag search_user_station_songs_path(@station), :method => 'get', :remote => true do %>
					<div class="field">
						<%= text_field_tag :query, "", :placeholder => Settings['placeholders']['search_form'] %>
						<%= hidden_field_tag :start, 1 %>
					</div>
					<div class="form-actions unified">
						<%= submit_tag "Search", :class => "btn" %>
					</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span8" id="search-results">
			<%= render 'user/songs/partials/no_results' %>
		</div>
	</div>
	<% else %>
	<div class="row" id="not-logged-in">
		<div class="span8">
			<div class="center text">
				<%= Settings['errors']['search_form']['logged_in'] %>
			</div>
		</div>
	</div>
	<% end %>
</div>