<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
	<header>
		<div class="container">
			<div class="half left">
				<div id="logo">
					<%= link_to "POSTUNE", root_path, :class => "left" %><div class="beta left">BETA</div>
				</div>
				<nav>
					<%= link_to "Stations", user_stations_path %>
				</nav>
			</div>
			<div class="half right text">
				<% if signed_in? %>
					<%= link_to current_user.name, user_user_path(current_user.name) %>
					<%= link_to "Logout", user_logout_path %>
				<% else %>
					<%= link_to "Login", user_login_path %>
				<% end %>
			</div>
		</div>
	</header>
	<div id="main">
		<div class="container">
			<div class="row messages-wrapper">
				<div class="span8">
					<%= render 'shared/messages' %>
				</div>
			</div>
		</div>
		<%= yield %>
	</div>
	<footer>
		<div class="container">
			<div class="left">
				<%= link_to "Home", root_path %>
				<%= link_to "FAQ", faq_path %>
				<%= link_to "Rules", rules_path %>
				<%= link_to "Contact", contact_path %>
				<% if signed_in? %>
					<%= link_to "Logout", user_logout_path %>
				<% else %>
					<%= link_to "Login", user_login_path %>
					<%= link_to "Register", user_register_path %>
				<% end %>
			</div>	
			<div class="right text">
				<%= link_to raw("Postune &copy; 2012"), root_path %>
			</div>
		</div>
	</footer>
</body>
</html>
